{% extends "header.html" %}
{% block content %}

{# Display any error messages #}
{% if error_msg %}
  <b>{{ error_msg }}</b>
{% endif %}

{% if user %}

  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <img style="width:100%;max-width:200px" src="data:image/png;base64,{{user.pic_encoded}}" alt="image">
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col">
            <h1>{{ user.username }}</h1>
          </div>
          <div class="col">
            <h3>Followers: {{ follower_list|length }} Following: {{ following_list|length }}</h3>
          </div>
        </div>
        <div class="row">
          {% if user == current_user %}
            <form action="/edit">
              <div class="form-group">
                <button type="submit" class="btn btn-secondary" id="edit" name="edit">Edit Profile</button>
              </div>
            </form>
          {% else %}
          {# CHECK BEFORE rendering template and set bool is_following var #}
            {% if is_following %}
              <form action="{{ url_for('unfollow_user', username=user.username) }}">
                <div class="form-group">
                  <button type="submit" class="btn btn-success" id="unfollow" name="unfollow">Following</button>
                </div>
              </form>
            {% else %}    
              <form action="{{ url_for('follow_user', username=user.username) }}">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" id="follow" name="follow">Follow</button>
                </div>
              </form>      
            {% endif %}
          {% endif %}
        </div>

        <div class="row">
          <p>
            Favorite Food: {{ user.food }}
          </p>
        </div>
      </div>  
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
        <h2> {{ user.username }}'s Reviews <small class="float-right"></small></h2>
        <h2> Total Reviews: {{ reviews|length }} <small class="float-right"></small></h2>
        
        {% for review in reviews %}
          <a href="{{ url_for('restaurant_detail', business_id=review.id_restaurant) }}" class="restaurant-item">
            <p><strong>Restaurant:</strong> {{ review.restaurant_name }}</p>
            <p><strong>Commenter:</strong> {{ review.commenter.username }}</p>
            <p><strong>Comment:</strong> {{ review.comment }}</p>
            <p><strong>User Rating:</strong> {{ review.stars }} </p>
            <img src="data:image/png;base64, {{ review.image_encoded }}" alt="Review Image" style="max-width: 300px; max-height: 300px;">
          </a>
          <div class="empty-space"></div>
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endblock %} 