{% extends "header.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}


<h1>{{ business.name }} Details</h1>
<ul>
    <li><strong>Name:</strong> {{ business.name }}</li>
    <li><strong>Phone: </strong> {{ business.phone }}</li>
    <li><strong>Address:</strong> {{ business. location.address1 }}, {{ business.location.city }}, {{ business.location.state }} {{ business.location.zip_code }}</li>
    <li><strong>Price Range:</strong> {{ business.price }}</li>
    <li><strong>Yelp's Rating:</strong> <span class="rating">{{ render_stars(business.rating) }}</span></li>
    <li><strong>FoodHub Rating:</strong> <span class="rating">{{ render_stars(average) }}</span></li>
</ul>
 
{% if current_user.is_authenticated %}
    <h2>Post a Review</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ form.image.label }}
            {{ form.image }}<br>
            {% for error in form.image.errors %}
              <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
          </div>  
        <div>
            {{ form.comment.label }}<br>
            {{ form.comment(size=50, rows=5) }}<br>
            {% for error in form.comment.errors %}
              <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
          </div>
          <div>
            {{ form.rating.label }}<br>
            {{ form.rating }}<br><br>
            {% for error in form.comment.errors %}
              <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
          </div>
          <div>
            {{ form.submit() }}

          </div>


    </form>
{% endif %}
<h2>Review, total: {{ reviews|length }} </h2>
{% for review in reviews %}
    <div class="review">
        <p><strong>Commenter:</strong> {{ review.commenter.username }}</p>
        <p><strong>Comment:</strong> {{ review.comment }}</p>
        <p><strong>{{ review.stars }}</strong> </p>
        <img src="data:image/png;base64, {{ review.image_encoded }}" alt="Review Image" style="max-width: 300px; max-height: 300px;">
    </div>
{% endfor %}
{% endblock %}

<div class="form-group">
    <label for="comment">Comment</label>
    <input type="text" id="comment" name="comment" required>
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" name="image" required>
    <button type="submit" class="btn btn-primary" id="submit" name="submit">Post</button>
</div>